<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--responsive -->

  <title>Document</title>
  <!--external css-->
  <link rel="stylesheet" href="hope.css">
  <!--social media icons-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!--font-->


</head>

<body>

  <!-- NavBar -->
  <header>
    <nav class="topnav">
      <a class="active" href="/">Home</a>
      <a href="recipes">Recipes</a>
      <a href="contact">Contact</a>
      <div class="search-container">
        <form action="/action_page.php">
          <input type="text" placeholder="Search.." name="search" />
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </nav>
  </header>

  <div class="container">
    <div style="text-align:center">
      <h2>Contact</h2>
      <p>We want to hear from you, contact us using the information below!</p>
    </div>
    <div class="row">
      <div class="column">
        <img src="" style="width: 100%">
      </div>
      <div class="column">
        <form action="/action_page.php">
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">
          <label for="email">Email</label>
          <input type="text" id="email" name="email" placeholder="Your email..">
          <label for="subject">Comments</label>
          <textarea id="subject" name="subject" style="height:170px;" placeholder="What's your next meal?"></textarea>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer>
    <img class="footer_logo" src="../images/eatsmart.png" alt="logo" />
    <div class="footer-social-icons">
        <ul class="social-icons">
            <li>
                <a href="https://www.facebook.com/" class="social-icon">
                    <i class="fa fa-facebook"></i></a>
            </li>
            <li>
                <a href="" class="social-icon"> <i class="fa fa-twitter"></i></a>
            </li>
            <li>
                <a href="" class="social-icon"> <i class="fa fa-rss"></i></a>
            </li>
            <li>
                <a href="" class="social-icon"> <i class="fa fa-youtube"></i></a>
            </li>
            <li>
                <a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a>
            </li>
        </ul>
    </div>

    <p class="footer_p">© 2022 Hope Hacks Project</p>
</footer>

  
</body>

</html>