<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="hope.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css"
    />
  </head>
  <body>
    <footer>
      <img class= "footer_logo" src="images/eatsmart.png" alt="logo"/>
      <div class="footer-social-icons">
        <ul class="social-icons">
          <li>
            <a href="https://www.facebook.com/" class="social-icon">
              <i class="fa fa-facebook"></i
            ></a>
          </li>
          <li>
            <a href="" class="social-icon"> <i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="" class="social-icon"> <i class="fa fa-rss"></i></a>
          </li>
          <li>
            <a href="" class="social-icon"> <i class="fa fa-youtube"></i></a>
          </li>
          <li>
            <a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>

      <p class="footer_p">© 2022 Hope Hacks Project</p>
    </footer>
  </body>
</html>
