<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>EatSmart</title>
    <script src="https://kit.fontawesome.com/44c590d39e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
</head>

<body>

    <!-- NavBar -->
    <header>
        <nav class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/recipes">Recipes</a>
            <a href="/contact">Contact</a>
            <div class="search-container">
                <form action="/recipes">
                    <input type="text" placeholder="Search.." name="search" />
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </nav>
    </header>

    <!-- Hero-Image -->
    <section class="home" id="home">
        <div class="swiper home-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide slide"
                    style="background: url(/images/chicken-bites-and-asparagus-recipe.jpeg) no-repeat;">
                    <div class="content">
                        <span>Eat Smart</span>
                        <h3>Meat & Veggies</h3>
                        <a href="recipes" class="btn">Get Recipe</a>
                    </div>
                </div>
                <div class="swiper-slide slide"
                    style="background: url(/images/salmon-with-kale-dinner-for-two-1581382241.jpeg) no-repeat;">
                    <div class="content">
                        <span>Eat Smart</span>
                        <h3 class="pescatarian">Pescatarian</h3>
                        <a href="recipes" class="btn">Get Recipe</a>
                    </div>
                </div>
                <div class="swiper-slide slide" style="background: url(/images/SalmonTrayBake-87c9f44.jpeg) no-repeat;">
                    <div class="content">
                        <span>Eat Smart</span>
                        <h3>Veggies</h3>
                        <a href="recipes" class="btn">Get Recipe</a>
                    </div>
                </div>
                <div class="swiper-slide slide"
                    style="background: url(/images/Nutty-chicken-satay-a8c094e.jpeg) no-repeat;">
                    <div class="content">
                        <span>Eat Smart</span>
                        <h3>Quick & <br>Easy</h3>
                        <a href="recipes" class="btn">Get Recipe</a>
                    </div>
                </div>
            </div>

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>

        </div>
    </section>

    <!-- items -->
    <section type="home_section">
        <h1 class="home_brand">Most Popular Recipes</h1>
        <div class="home_container">
            <div class="home_item">
                <img src="/images/fajitas.jpeg" alt="food" />
                <div class="home_flex-container">
                    <h1 class="home_title">Chicken Fajitas</h1>
                    <a class="home_view-button" href="https://downshiftology.com/recipes/chicken-fajitas/">View
                        Recipe</a>
                </div>
                <p class="home_item-data">Calories: 220</p>
            </div>
            <div class="home_item">
                <img src="/images/salad.jpeg" alt="food" />
                <div class="home_flex-container">
                    <h1 class="home_title">Avocado Salad</h1>
                    <a class="home_view-button" href="https://www.eatwell101.com/avocado-salad-recipe">View Recipe</a>
                </div>
                <p class="home_item-data">Calories: 128</p>
            </div>
            <div class="home_item">
                <img src="/images/cauliflower-pasta-1.jpeg" alt="food" />
                <div class="home_flex-container">
                    <h1 class="home_title">Cauliflower Pasta</h1>
                    <a class="home_view-button" href="https://www.loveandlemons.com/easy-dinner-ideas/">View Recipe</a>
                </div>
                <p class="home_item-data">Calories: 266</p>
            </div>
        </div>
    </section>

    <!-- Reviews -->
    <div class="review-container">
        <div class="reviews fade">
            <img src="images/Star.png">
            <img src="images/Star.png">
            <img src="images/Star.png">
            <img src="images/Star.png">
            <img src="images/Star.png">
            <h2>Great selections, great ingredients, very impressed. Keep on going! </h2>
            <p>Luke</p>
        </div>
        <br>

        <div class="reviews fade">
            <img src="images/Star.png">
            <img src="images/Star.png">
            <img src="images/Star.png">
            <img src="images/Star.png">
            <img src="images/Star.png">
            <h2>We have gotten keto and low carb vegan. Both have been so tasty and amazing!</h2>
            <p>Maria</p>
        </div>
        <br>

        <div class="reviews fade">
            <img src="images/Star.png">
            <img src="images/Star.png">
            <img src="images/Star.png">
            <img src="images/Star.png">
            <img src="images/Star.png">
            <h2>Great customer service! </h2>
            <p>Kate</p>
        </div>
        <br>

        <div class="reviews fade">
            <img src="images/Star.png">
            <img src="images/Star.png">
            <img src="images/Star.png">
            <img src="images/Star.png">
            <img src="images/Star.png">
            <h2>Really enjoying Eat Smart so far!</h2>
            <p>Peter</p>
        </div>
        <br>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <div class="reviewButton">
        <span class="reviewSlider" onclick="currentSlide(1)"></span>
        <span class="reviewSlider" onclick="currentSlide(2)"></span>
        <span class="reviewSlider" onclick="currentSlide(3)"></span>
        <span class="reviewSlider" onclick="currentSlide(4)"></span>
    </div>

    <!-- Footer -->
  <footer>
    <img class="footer_logo" src="../images/eatsmart.png" alt="logo" />
    <div class="footer-social-icons">
      <ul class="social-icons">
        <li>
          <a href="https://www.facebook.com/" class="social-icon">
            <i class="fa fa-facebook"></i></a>
        </li>
        <li>
          <a href="" class="social-icon"> <i class="fa fa-twitter"></i></a>
        </li>
        <li>
          <a href="" class="social-icon"> <i class="fa fa-rss"></i></a>
        </li>
        <li>
          <a href="" class="social-icon"> <i class="fa fa-youtube"></i></a>
        </li>
        <li>
          <a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a>
        </li>
      </ul>
    </div>

    <p class="footer_p">© 2022 Hope Hacks Project | Van, Alondra, Ninoshka, Fernando</p>
  </footer>

    <!-- Footer
    <footer>
        <div class="footer">
          <div class="inner_footer">
            <div class="logo_container">
              <img src="images/eatsmart.png" />
            </div>
  
            <div class="footer_third">
              <h1>Need help?</h1>
              <a href="#">Terms & Conditions</a>
              <a href="#">Privacy Policy</a>
              <span>
                © EatSmart, 2022<br />
                Van Rlan<br />
                Alondra Ramirez<br />
                Ninoshka Marrero<br />
                Fernando Garcia<br />
              </span>
            </div>
  
            <div class="footer_third">
              <h1>Contact Us</h1>
              <a href="#">Inquiries</a>
              <a href="#">Help Center</a>
            </div>
  
            <div class="footer_third">
              <h1>Follow Us</h1>
              <li>
                <a href="https://www.facebook.com/"
                  ><i class="fa fa-facebook"></i
                ></a>
              </li>
              <li>
                <a href="https://twitter.com/?lang=en"
                  ><i class="fa fa-twitter"></i
                ></a>
              </li>
              <li>
                <a href="https://www.youtube.com/"
                  ><i class="fa fa-youtube"></i
                ></a>
              </li>
              <li>
                <a href="https://www.instagram.com/"
                  ><i class="fa fa-instagram"></i
                ></a>
              </li>
            </div>
          </div>
        </div>
      </footer> -->
      

    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

    <script src="script.js"></script>
</body>

</html>